<section id="footer">
    <div class="container-fluid">
        <h5>LopezLLC</h5>
        <i class="fab fa-linkedin"></i>
        <i class="fas fa-portrait"></i>
    </div>
</section>


<!-- <script src="https://kit.fontawesome.com/7d2b110a1f.js" crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/7d2b110a1f.js" crossorigin="anonymous"></script>
<script src="javascript/index.js"></script>
</body>
</html>