<%- include("partials/header") -%>
<section>
    <div style="padding: 0;" class="container-fluid">
        <img class="homeImg" src="https://wallpapercave.com/wp/kvDvzAF.jpg" alt="">
    </div>
</section>

 
</div>

<%- include("partials/footer") -%>
